{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<!-- {% comment %} <script type="text/javascript">
  $(function () {
    // Delete book buttons
    $(".delete-carrequest").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

  });
</script> {% endcomment %} -->


<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="breadcrumbs">
    <div class="col-sm-12">
        <h2><b>Gas Card Request</b></h2>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <a href="{% url 'gas_export' %}" style="float: left"><u><b>Export Gas Card Data</b></u></a>
                    <a href="{% url 'gascard_new' %}" style="float:right "><u><b>Add Gas Card Request</b></u>&nbsp; &nbsp;</a>
                    <a href="{% url 'gascard_history' %}" style="float:right " class="mr-3"><u><b>Gas Card Request History</b></u></a>
                </div>                         
                <!-- <table id="bootstrap-data-table-export"a class="table table-striped table-bordered"> -->
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Activity ID</th>
                            <th>Requisitioner Name</th>
                            <th>Plate Number</th>
                            <th>Fleet Card Provider</th>
                            <th>Cost Center</th>
                            <th>Liter Limit</th>
                            <th>Fleet Card Number</th>
                            <th>SLA</th>
                            <th>Date Initiated</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Gas_card in object_list %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'gascard_details' Gas_card.id %}"><u>{{ Gas_card.Activity_id }}</u></a></td>
                            <td>{{ Gas_card.req_fname }} {{ Gas_card.req_lname }}</td>
                            <td>{{ Gas_card.plate_no }}</td>
                            <td>{{ Gas_card.fleet_provider }}</td>
                            <td>{{ Gas_card.cost_center_code }}</td>
                            <td>{{ Gas_card.fuel_limit_quantity }}</td>
                            <td>{{ Gas_card.fleet_card_no }}</td>
                            <td>{{ Gas_card.GCR_SLA }}/Days</td>
                            <td>{{ Gas_card.date_initiated }}</td>
                            <form action="{% url 'gascard_delete' Gas_card.id %}" method="POST">
                                {% csrf_token %}
                                <td><button title= "Delete" class="btn-danger btn-sm" type="submit" name="button"><span class="fa fa-trash"></span></button></td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
    <!-- /.row -->

{% endblock %}