{% load widget_tweaks %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Delete Car Rental Payment</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="word-break: break-all;">
    <p class="delete-text"><h6>Are you sure you want to delete <b>"{{ carrental.Activity_id }}"</b> ?</h6></p>
  </div>

  <div class="modal-footer">
    <button type="submit" class="delete-btn btn-danger rounded">Delete</button>
  </div>

</form>
