{% extends 'base.html' %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-1.8.3.js"></script>
<script src="https://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" />

<!--Java date computation-->
<script type="text/javascript">
    $(document).ready(function() {
      
    $( "#startdate,#enddate" ).datepicker({
    changeMonth: true,
    changeYear: true,
    firstDay: 1,
    dateFormat: 'yy/mm/dd',
    })

    $( "#Srental" ).datepicker({ dateFormat: 'yy/mm/dd' });
    $( "#Erental" ).datepicker({ dateFormat: 'yy/mm/dd' });

    $('#Erental').change(function() {
        var start = $('#Srental').datepicker('getDate');
        var end   = $('#Erental').datepicker('getDate');

    if (start<end) {
        var days   = (end - start)/1000/60/60/24;
    $('#Rduration').val(days);
    }
    else {
      $('#Srental').val("");
      $('#Erental').val("");
        $('#Rduration').val("");
    }
    }); //end change function
    }); //end ready

</script>
<!--Java Autofill date-->
<script>
    function getDate() {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth()+1; //January is 0!
      var yyyy = today.getFullYear();

      if(dd<10) {
          dd = '0'+dd
      } 

      if(mm<10) {
          mm = '0'+mm
      } 

      today = yyyy + '-' + mm + '-' + dd;
      console.log(today);
      document.getElementById("date").value = today;
    }


    window.onload = function() {
      getDate();
    };

</script>

<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h3>Car Rental Payment's</h3>&nbsp;
    </div>
<form method="POST" action="{% url 'Car_submit' %}">
{% csrf_token %}
<input type="text" name="SLA" id="SLA" value="15" hidden>
 <input type="text" name="date" id="date" hidden />
    <div class="col-sm-4">
        <label>Bill Date:</label>{{ form.A_employee_ID }}
    </div>
    <div class="col-sm-4">
        <label>Assignee Employee ID</label>{{ form.A_employee_ID }}    
    </div>
    <div class="col-sm-4">
        <label>Employee First Name:</label>{{ form.A_employee_ID }}
    </div>
    <div class="col-sm-4">
        <label>Employee Last Name:</label>{{ form.A_employee_ID }}
    </div>
    <div class="col-sm-4">
        <label>Assignee Company:</label>{{ form.A_employee_ID }}
    </div>
    <div class="col-sm-4">
        <label>Assignee Cost Center:</label>{{ form.A_employee_ID }}
    </div>
   
    <div class="col-sm-4">
        <label>Other Assignee First Name:</label>{{ form.A_employee_ID }}
    </div>
    <div class="col-sm-4">
        <label>Other Assignee Last Name:</label>{{ form.A_employee_ID }}
    </div>
    <div class="col-sm-4">
        <label>Other Assignee Cost Center:</label>{{ form.A_employee_ID }}
        <br>
    </div>

    <div class="col-sm-3">
        <label>Plate Number:</label>{{ form.A_employee_ID }}
    </div>
    <div class="col-sm-3">
        <label>Vehicle Provider:</label>{{ form.A_employee_ID }}
    </div>
    <div class="col-sm-3">
        <label>Vehicle Brand:</label>{{ form.A_employee_ID }}
    </div>
    <div class="col-sm-3">
        <label>Vehicle Make:</label>{{ form.A_employee_ID }}
    </div>

    <!-- <h4><u>Rental Details</u></h4> -->
    <div class="col-sm-3">
        <label>Date Delivered Vehicle:</label>{{ form.A_employee_ID }}
    </div>
    <div class="col-sm-3">
        <label>Start of Rental:</label>{{ form.A_employee_ID }}
    </div>
    <div class="col-sm-3">
        <label>End of Rental:</label>{{ form.A_employee_ID }}
    </div>
    <div class="col-sm-3">
        <label>Rental Duration:</label>{{ form.A_employee_ID }}
    </div>

<!--     <H4><u>Expense Details</u></H4>-->
    <div class="col-sm-3">
        <div class="form-group">
        <label>Rental Cost:</label>
        <input style="text-transform:" type="Number" name="Rcost" id="Rcost" placeholder="0" class="form-control" onkeyup="add()"/>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
        <label>Gasoline Cost:</label>
        <input style="text-transform:" type="Number" name="Gcost" id="Gcost" placeholder="0" class="form-control" onkeyup="add()"/>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
        <label>Toll Fee:</label>
        <input style="text-transform:" type="Number" name="Tfee" id="Tfee" placeholder="0" class="form-control" onkeyup="add()"/>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
        <label>Parking Fee:</label>
        <input style="text-transform:" type="Number" name="Pfee" id="Pfee" placeholder="0" class="form-control" onkeyup="add()"/>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
        <label>Delivery Fee:</label>
        <input style="text-transform:" type="Number" name="Dfee" id="Dfee" placeholder="0" class="form-control" onkeyup="add()"/>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
        <label>Driver Fee:</label>
        <input style="text-transform:" type="Number" name="Driverfee" id="Driverfee" placeholder="0" class="form-control" onkeyup="add()"/>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
        <label>Meal Cost:</label>
        <input style="text-transform:" type="Number" name="M_cost" id="M_cost" placeholder="0" class="form-control" onkeyup="add()"/>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
        <label>Other Expenses:</label>
        <input style="text-transform:" type="Number" name="Other_exp" id="Other_exp" placeholder="0" class="form-control" onkeyup="add()" />
        </div><br>
    </div>
    <div class="col-sm-12" align="right">
        <div class="form-group">
        <label>Total Expenses:</label>
         <input align="right" style="width: 150px; text-transform:" type="text" name="Total" id="Total" onclick="add()" readonly>    
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="button">PROCEED</a><button 
       class="button" type="reset" value="Reset">CLEAR FIELDS</button>
    </div>
</div>
</form>
<script>
    function add(){
    var a,b,c,d,e,f,g,h,i;
        a=Number(document.getElementById("Rcost").value);
        b=Number(document.getElementById("Gcost").value);
        c=Number(document.getElementById("Tfee").value);
        d=Number(document.getElementById("Pfee").value);
        e=Number(document.getElementById("Dfee").value);
        f=Number(document.getElementById("Driverfee").value);
        g=Number(document.getElementById("M_cost").value);
        h=Number(document.getElementById("Other_exp").value);
        i= a + b + c + d + e + f + g + h;
        document.getElementById("Total").value= i;
    }
</script>

{% endblock %}
