{% extends 'base.html' %}
{% block content %}

<script type="text/javascript">
  $(function () {
    // Delete book buttons
    $(".delete-carrequest").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

  });
</script>

<div class="breadcrumbs">
    <div class="col-sm-12">
        <h3><b>Fuel Supplier Payment History</b></h3>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <a href="{% url 'Fuel_supplierList' %}" style="float: left"><u><b>Back to Fuel Data</b></u></a>
                </div>                         
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Activity ID</th>
                            <th>Fuel Provider</th>
                            <th>Current Amount</th>
                            <th>Oustanding Balance</th>
                            <th>SLA</th>
                            <th>Date Initiated</th>
                            <th>Deadline</th>
                            <th>Completed Date</th>
                            <th>History Date</th>
                            <th>History Type</th>
                            <th>History User</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for h in object %}
                        <tr class="odd gradeX">
                            <td><{{ h.Activity_id }}</td>
                            <td>{{ h.Fuel_provider }} </td>
                            <td>(₱){{ h.SOA_current_amount }}</td>
                            <td>{{ h.SOA_outstanding_amount }}</td>
                            <td>{{ h.F_SLA }}/Days</td>
                            <td>{{ h.Date_initiated }}</td>
                            <td>{{ h.Payment_deadline }}</td>
                            <td>{{ h.Date_forwarded }}</td>
                            <td>{{h.history_date}}</td>
                  
                            {% if h.history_type == '+' %}
                                <td style="color: green;">Created</td>
                            {% elif h.history_type == '-' %}
                                <td style="color: red;">Deleted</td>
                            {% else %}
                                <td style="color: blue;">Edited</td>
                            {% endif %}
                            <td>{{h.history_user}}</td>
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
    <!-- /.row -->
{% endblock %}


