{% extends "base.html" %}
{% load i18n staticfiles %}


{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script src="{% static 'ddv_example/ddv_example_testmodel.js' %}"></script>
    <script type="text/javascript">
        var TESTMODEL_LIST_JSON_URL = '{% url "sample" %}';
        // translations for datatables

        var dt_language = {
            "emptyTable":     "{% trans "No data available in table" %}",
            "info":           "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
            "infoEmpty":      "{% trans "Showing 0 to 0 of 0 entries" %}",
            "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "{% trans "Show _MENU_ entries" %}",
            "loadingRecords": "{% trans "Loading..." %}",
            "processing":     "{% trans "Processing..." %}",
            "search":         "{% trans "Search:" %}",
            "zeroRecords":    "{% trans "No matching records found" %}",
            "paginate": {
                "first":      "{% trans "First" %}",
                "last":       "{% trans "Last" %}",
                "next":       "{% trans "Next" %}",
                "previous":   "{% trans "Previous" %}"
            },
            "aria": {
                "sortAscending":  "{% trans ": activate to sort column ascending" %}",
                "sortDescending": "{% trans ": activate to sort column descending" %}"
            }
        }
    </script>
{% endblock %}

{% block content %}
<!-- <div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                  <a href="{% url 'vehiclelist_export' %}"> <u>Export VehicleList </u></a>
                    <a href="{% url 'vnew' %}" style="float:right"><u>Add Vehicle Masterlist</u></a>
                </div>  -->
                <!-- <div style="overflow-x:auto;">                         -->
                <!-- <table id="bootstrap-data-table-export"a class="table table-striped table-bordered" style="max-width"> -->
                <!-- <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%"> -->
                <table id="example" class="datatable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Activity No:</th>
                            <th>No.:</th>
                            <th>Plate Number:</th>
                            <th>Conductions Sticker No.:</th>
                            <th>CR Name:</th>
                            <th>Plate Ending</th>
                            <th>Registration Month</th>
                            <th>Model:</th>
                            <th>Brand:</th>
                            <th>Vehicle Make</th>
                            <th>Engine Number</th>
                            <th>Vehicle Type</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Vmaster in object_list %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'vehicle-details' Vmaster.id %}"><u>{{ Vmaster.Activity_Id }}</u></a></td>
                            <td>{{ Vmaster.NO }}</td>
                            <td>{{ Vmaster.PLATE_NO }}</td>
                            <td>{{ Vmaster.CS_NO }}</td>
                            <td>{{ Vmaster.CR_NAME }}</td>
                            <td>{{ Vmaster.PLATE_ENDING}}</td>
                            <td>{{ Vmaster.REGISTRATION_MONTH}}</td>
                            <td>{{ Vmaster.MODEL }}</td>
                            <td>{{ Vmaster.BRAND }}</td>
                            <td>{{ Vmaster.VEHICLE_MAKE}}</td>
                            <td>{{ Vmaster.ENGINE_NO}}</td>
                            <td>{{ Vmaster.VEHICLE_TYPE }}</td>
                            <td></td>
                            <form action="{% url 'vehicleMasterlist_delete' Vmaster.id %}" method="POST">
                                {% csrf_token %}
                                <td><button title= "Delete"  class="btn btn-danger btn-sm" type="submit" name="button"><span class="fa fa-trash"></span></button></td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                  <!-- </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}