{% extends 'base.html' %}
{% block content %}

<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h3>Vechicle Registrations Details</h3>&nbsp;
    </div>

<table width="90%" class="table table-bordered table-hover" border="5px">
  <tr>
      <th>Vehicle Number</th><td>{{ object.NO }}</td>
      <th>Activity ID:</th><td>{{ object.Activity_Id }}</td>
  </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th width="25%">Plate Number: </th><td width="25%">{{ object.PLATE_NO }}</td>
      <th width="25%">Conduction Sticker:</th><td width="25%">{{ object.CS_NO }}</td>
    </tr>
    <tr>
      <th>Ending: </th> <td>{{ object.PLATE_ENDING }}</td>
      <th>CR Name: </th> <td>{{ object.CR_NAME }}</td>
    </tr>
    <tr>
      <th>Registration Month</th><td>{{ object.REGISTRATION_MONTH }}</td>
      <th>Model: </th> <td>{{ object.Model }}</td>
    </tr>
    <tr>
      <th>Brand:</th> <td>{{ object.BRAND }}</td>
      <th>Vehicle_make</th> <td>{{ object.VEHICLE_MAKE }}</td>
    </tr>
    <tr>
      <th>Engine Number: </th> <td>{{ object.ENGINE_NO }}</td>
      <th>Chassis Number</th> <td>{{ object.CHASSIS_NO }}</td>
    </tr>
    <tr>
      <th>MV File Number:</th><td>{{ object.MV_FILE_NO }}</td>
      <th>Vehicle Type:</th><td>{{ object.VEHICLE_TYPE }}</td>
    </tr>
    <tr>
      <th>First Name Assignee:</th><td>{{ object.ASSIGNEE_FIRST_NAME }}</td>
      <th>Last Name assignee</th> <td>{{ object.ASSIGNEE_LAST_NAME }}</td>
    </tr>
    <tr>
      <th>Vehicle Category:</th><td>{{ object.VEHICLE_CATEGORY }}</td>
      <th>Employee ID: </th> <td>{{ object.Employee }}</td>
    </tr>
    <tr>
      <th>Band Level:</th><td>{{ object.BAND_LEVEL }}</td>
      <th>Band Benefit:</th> <td>{{ object.BENEFIT_GROUP }}</td>
    </tr>
    <tr>
      <th>Original OR Date</th><td>{{ object.ORIGINAL_OR_DATE}}</td>
      <th>Cost Center:</th> <td>{{ object.COST_CENTER }}</td>
    </tr>
    <tr>
      <th>Group: </th> <td>{{ object.GROUP }}</td>
      <th>Division:</th> <td>{{ object.DIVISION }}</td>
    </tr>  
    <tr>
      <th>Department: </th> <td>{{ object.DEPARTMENT }}</td>
      <th>Section</th> <td>{{ object.SECTION }}</td>
    </tr>
    <tr>
      <th>IS (Employee ID):</th><td>{{ object.IS_ID }}</td>
      <th>IS (Firstname):</th><td>{{ object.IS_FIRST_NAME }}</td>
    </tr>
    <tr>
      <th>IS (Lastname):</th><td>{{ object.IS_LAST_NAME }}</td>
      <th>Location: </th> <td>{{ object.LOCATION }}</td>
    </tr>

    <tr>
      <th>Aquisition Date:</th><td>{{ object.ACQ_DATE }}</td>
      <th>Aquisition Cost:</th><td>{{ object.ACQ_COST }}</td>
    </tr>
    <tr>
      <th>Asset Number:</th><td>{{ object.ASSET_NO }}</td>
      <th>PO Number: </th> <td>{{ object.PO_NO }}</td>
    </tr>
    <tr>
      <th>Equipment Number: </th> <td>{{ object.EQUIPMENT_NO }}</td>
      <th>Plate Number Release Date:</th> <td>{{ object.PLATE_NUMBER_RELEASE_DATE }}</td>
    </tr>
    <tr>
      <th>Last Registration Date:</th><td>{{ object.Last_Registration_Date }}</td>
      <th>Smoke Emission Date: </th> <td>{{ object.Smoke_Emission_Date }}</td>
    </tr>
    <tr>
      <th>COC Date: </th> <td>{{ object.COC_Date }}</td>
      <th>Remarks:</th> <td>{{ object.Remarks }}</td>
    </tr>

</table>
    <div class="card-footer">
      <a href="{% url 'reg_update' object.id %}" class="button" style="color:white">UPDATE</a><a href="{% url 'Monitoring_jan_reg'%}" class="button" style="color:white">CLOSE</a>
      <!-- <button class="button" data-toggle="modal" data-target="#updateModal">UPDATE</button> -->
    </div>
</div>
</div>
{% endblock %}
