{% extends 'base.html' %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script>
function transferownership(trans) {
  var i;
  var x = document.getElementsByClassName("ownership");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  document.getElementById(trans).style.display = "block";  
}
</script>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><b>Transfer of Ownership</b></h3>&nbsp;
    </div>
</div>
 <div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button" onclick="transferownership('Transfer of Ownership')">Transfer of Ownership</button>
    <button class="w3-bar-item w3-button" onclick="transferownership('Deed of Sale Creation')">Deed of Sale Creation</button>
    <button class="w3-bar-item w3-button" onclick="transferownership('Outbound Process')">Outbound Process</button>
    <button class="w3-bar-item w3-button" onclick="transferownership('TOO Completion')">TOO Completion</button>
    </div>
<form method="POST">
{% csrf_token %}
    <div id="Transfer of Ownership" class="w3-container ownership">
    <fieldset>
        <legend align="left">Requisitioner Details</legend><br>
        <div class="col-sm-6">
            <label>Date Application Received</label>
            {{ form.date_application }}
        </div>
        <div class="col-sm-6">
            <label>Requisitioner Employee ID</label>
            {{ form.req_employee_id }}
        </div>
        <div class="col-sm-6">
            <label>Requisitioner Last Name</label>
            {{ form.req_Lname }}
        </div>
        <div class="col-sm-6">
            <label>Requisitioner First Name</label>
            {{ form.req_Fname }}
        </div>
        <div class="col-sm-6">
            <label>Requisitioner Band</label>
            {{ form.req_band }}
        </div>
        <div class="col-sm-6">
            <label>Requisitioner Cost Center</label>
            {{ form.req_cost}}
        </div>
        <div class="col-sm-6">
            <label>Requisitioner Title</label>
            {{ form.req_title }}
        </div>
    <br><br>
    </fieldset>
    <hr>
    <fieldset>
        <legend align="left">Vehicle Details</legend>
        
        <div class="col-sm-6">
            <label>Plate Number</label>
            {{ form.plate_no }}
        </div>
        
        <div class="col-sm-6">
            <label>Conduction Sticker</label>
            {{ form.cond_sticker }}
        </div>
        <div class="col-sm-6">
            <label>Vehicle Model Year</label>
            {{ form.vehicle_model }}
        </div>
        <div class="col-sm-6">
            <label>Vehicle Brand</label>
            {{ form.vehicle_brand }}
        </div>
        <div class="col-sm-6">
            <label>Vehicle Make</label>
            {{ form.vehicle_make }}
        </div>
    </fieldset>
    <fieldset>
    <legend align="left">Vendor and Vendee Details</legend>
        <div class="col-sm-6">
            <label>Vendor</label>
            {{ form.vendor }}
        </div>
        <div class="col-sm-6">
            <label>Other Vendor Name</label>
            {{ form.vendor_name }}
        </div>
        <div class="col-sm-6">
            <label>Vendee Employee ID</label>
            {{ form.v_employee_id }}
        </div>
        <div class="col-sm-6">
            <label>Vendee First Name</label>
            {{ form.v_fname }}
        </div>
        <div class="col-sm-6">
            <label>Vendee Last Name</label>
            {{ form.v_lname }}
        </div>
        <div class="col-sm-6">
            <label>Vendee Band</label>
            {{ form.v_band }}
        </div>
        <div class="col-sm-6">
            <label>TOO Purpose</label>
            {{ form.purpose }}
        </div>
    </fieldset>
    <div class="card-footer">
      <button type="submit" class="button">SUBMIT</button>
      <button type="Reset" class="btnc">CLEAR ALL</button>
      <a href="{% url 'ownership_list' %}" class="btn">CLOSE</a>
    </div>
    </div>
    <div id="Deed of Sale Creation" class="w3-container ownership" style="display:none">
    <fieldset>
        <legend align="left">Deed of Sale Creation 1</legend>
        <div class="col-sm-6">
            <label>Transfer Fee</label>
            {{ form.transfer_fee }}
        </div>
        <div class="col-sm-6">
            <label>Document Completed Date</label>
            {{ form.doc_date_completed }}
        </div>
        <div class="col-sm-6">
            <label>Date Created Deed of Sale</label>
            {{ form.deedofsale_date }}
        </div>
    </fieldset>
    <fieldset>
        <legend align="left">Official Receipt Routing</legend>
        <div class="col-sm-6">
            <label>Confirmation Status</label>
            {{ form.confirmation_status }}
        </div>
        <div class="col-sm-6">
            <label>Date OR Emailed to Casher</label>
            {{ form.emailed_to_casher }}
        </div>
        <div class="col-sm-6">
            <label>Date OR Received from Casher</label>
            {{ form.received_from_casher }}
        </div>
    </fieldset>
    <fieldset>
        <legend align="left">Deed of Sale Creation 2</legend>
        <div class="col-sm-6">
            <label>Signed Deed of Sale Completed Date</label>
            {{ form.deed_signed }}
        </div>
    </fieldset>
    <div class="card-footer">
        <button type="submit" class="button">UPDATE</butoon>
    </div>
    </div>
    <div id="Outbound Process" class="w3-container ownership" style="display:none">
    <fieldset>
        <legend align="left">Documents Routing 1</legend>
        <div class="col-sm-6">
            <label>Date Routed to JD/ECS</label>
            {{ form.routed_to_jd }}
        </div>
        <div class="col-sm-6">
            <label>Date Approved By JD/ECS</label>
            {{ form.approved_by_jd }}
        </div>
        <div class="col-sm-6">
            <label>Date Return to Fleet Admin Assistant</label>
            {{ form.return_fleet_admin }}
        </div>
    </fieldset>
    <fieldset>
        <legend align="left">Documents Routing 2</legend>
        <div class="col-sm-6">
            <label>Date Forwarded to Liason Officer</label>
            {{ form.forwarded_to_liason }}
        </div>
        <div class="col-sm-6">
            <label>Date Notarized</label>
            {{ form.date_notarized }}
        </div>
    </fieldset>
    <fieldset>
        <legend align="left">Documents Routing 3</legend>
        <div class="col-sm-6">
            <label>Date Endorsed to Insurance Company</label>
            {{ form.endorosed_to_insurance }}
        </div>
        <div class="col-sm-6">
            <label>Date Received Pull-out of OR/CR</label>
            {{ form.requested_for_pullout }}
        </div>
        <div class="col-sm-6">
            <label>Date Pulled OR/CR</label>
            {{ form.date_pulled }}
        </div>
    </fieldset>
    <fieldset>
        <legend align="left">Insurance Processing</legend>
        <div class="col-sm-6">
            <label>Date Forwarded to Fleet Liason for TMG</label>
            {{ form.forwarded_fleet_liason }}
        </div>
    </fieldset>
    <fieldset>
        <legend align="left">TMG Processing</legend>
        <div class="col-sm-6">
            <label>TMG sched</label>
            {{ form.tmg_date_in }}
        </div>
        <div class="col-sm-6">
            <label>TMG Released</label>
            {{ form.tmg_date_return }}
        </div>
        <div class="col-sm-6">
            <label>TMG Location</label>
            {{ form.tmg_location }}
        </div>
    </fieldset>
    <fieldset>
        <legend align="left">LTO Processing</legend>
        <div class="col-sm-6">
            <label>LTO Date In</label>
            {{ form.lto_date_in }}
        </div>
        <div class="col-sm-6">
            <label>LTO Date Out</label>
            {{ form.lto_date_out }}
        </div>
        <div class="col-sm-6">
            <label>LTO Location</label>
            {{ form.lto_location }}
        </div>
    </fieldset>
    <div class="card-footer">
        <button type="submit" class="button">UPDATE</button>
    </div>
    </div>
    <div id="TOO Completion" class="w3-container ownership" style="display:none">
    <fieldset>
        <legend align="left">Transfer Of Ownership Completion (NCR) </legend>
        <div class="col-sm-6">
            <label>Date Transfer Completed</label>
            {{ form.date_transfered_completed }}
        </div>
        <div class="col-sm-6">
            <label>Recieved By</label>
            {{ form.date_received_by }}
        </div>
    </fieldset>
    <fieldset>
        <legend align="left">Transfer Of Ownership Completion (Visayas/Mindanao) </legend>
        <div class="col-sm-6">
            <label>Date Transfer Completed for Visayas/Mindanao</label>
            {{ form.date_comletion_vismin }}
        </div>
    </fieldset>
    {{ form.TOO_SLA}}
    <div class="card-footer">
        <button type="submit" class="button">UPDATE</button>
    </div>
    </div>
</div>
</form>
{% endblock %}
