{% extends 'base.html' %}
{% block content %}

<style type="text/css">
  th {
    text-align: middle;
  }
</style>

<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h3>Transfer of Ownership Details</h3>&nbsp;
    </div>

<table width="90%" class="table table-bordered table-hover" border="5px">
  <tr>
        <th>Activity ID</th><td>{{ object.Activity_id }}</td>
        <th>Date Initiated</th><td> {{ object.date_initiated }}</td>
  </tr>
  <tr>
        <th>SLA working days</th><td>{{ object.TOO_SLA }}</td>
        <th></th><td></td>
    </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th width="25%">Date Application Received </th><td width="25%">{{ object.date_application }}</td>
      <th width="25%">Requisitioner Employee ID</th><td width="25%">{{ object.req_employee_id }}</td>
    </tr>
    <tr>
      <th>Requisitioner Full Name</th><td>{{ object.req_Fname }} {{ object.req_Lname}}</td>
      <th>Requisitioner Band </th> <td>{{ object.req_band }}</td>
    </tr>
    <tr>
      <th>Requisitioner Cost Center </th> <td>{{ object.req_cost }}</td>
      <th>Requisitioner Title </th> <td>{{ object.req_title }}</td>
    </tr>
    <tr>
      <th>Plate Number</th> <td>{{ object.plate_no }}</td>
      <th>Conduction Sticker</th> <td>{{ object.cond_sticker }}</td>
    </tr>
    <tr>
      <th>Vehicle Model Year </th> <td>{{ object.vehicle_model }}</td>
      <th>Vehicle Brand</th> <td>{{ object.vehicle_brand }}</td>
    </tr>
    <tr>
        <th>Vehicle Make</th><td>{{ object.vehicle_make }}</td>
        <th></th><td></td>
    </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th>Vendor</th><td>{{ object.vendor }}</td>
      <th>Other Vendor Name</th><td>{{ object.vendor_name }}</td>
    </tr>
    <tr>
      <th>Vendee Employee ID</th><td>{{ object.v_employee_id }}</td>
      <th>Vendee First Name </th> <td>{{ object.v_fname }}</td>
    </tr>
    <tr>
      <th>Vendee Last Name</th><td>{{ object.v_lname }}</td>
      <th>Vendee Band</th> <td>{{ object.v_band}}</td>
    </tr>
    <tr>
      <th>TOO Purpose</th><td>{{ object.purpose }}</td>
      <th></th><td></td>
    </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th>Transfer Fee</th><td>{{ object.transfer_fee }}</td>
      <th>Document Completed Date </th> <td>{{ object.doc_date_completed }}</td>
    </tr>
    <tr>
      <th>Date Created Deed of Sale</th><td>{{ object.deedofsale_date }}</td>
      <th></th> <td></td>
    </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th>Confirmation Status</th><td>{{ object.confirmation_status }}</td>
      <th>Date OR Emailed to Casher</th> <td>{{ object.emailed_to_casher }}</td>
    </tr>
    <tr>
      <th>Date OR Received from Casher</th><td>{{ object.received_from_casher }}</td>
      <th></th> <td></td>
    </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th>Signed Deed of Sale Completed Date</th><td>{{ object.deed_signed }}</td>
      <th></th> <td></td>
    </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th>Date Routed to JD/ECS</th><td>{{ object.routed_to_jd }}</td>
      <th>Date Approved By JD/ECS</th> <td>{{ object.approved_by_jd }}</td>
    </tr>
    <tr>
      <th>Date Return to Fleet Admin Assistant</th><td>{{ object.return_fleet_admin }}</td>
      <th></th> <td></td>
    </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th>Date Forwarded to Liason Officer</th><td>{{ object.forwarded_to_liason }}</td>
      <th>Date Notarized</th> <td>{{ object.date_notarized }}</td>
    </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th>Date Endorsed to Insurance Company</th><td>{{ object.endorosed_to_insurance }}</td>
      <th>Date Received Pull-out of OR/CR</th> <td>{{ object.requested_for_pullout }}</td>
    </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th>TMG Schedule</th><td>{{ object.tmg_date_in }}</td>
      <th>TMG Date Out</th> <td>{{ object.tmg_date_out }}</td>
    </tr>
    <tr>
      <th>TMG Location</th><td>{{ object.tmg_location }}</td>
      <th></th> <td></td>
    </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th>LTO Date In</th><td>{{ object.lto_date_in }}</td>
      <th>LTO Date Out</th> <td>{{ object.lto_date_out }}</td>
    </tr>
    <tr>
      <th>LTO Location</th><td>{{ object.lto_location }}</td>
      <th></th> <td></td>
    </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th>Date Documents Return</th><td>{{ object.date_docs_return }}</td>
      <th></th> <td></td>
    </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th>Date Transfer Completed</th><td>{{ object.date_transfered_completed }}</td>
      <th>Date Transfer Completed for Visayas/Mindanao</th> <td>{{ object.date_comletion_vismin }}</td>
    </tr>

</table>
    <div class="card-footer">
      <a href="{% url 'ownership_update' object.id %}" class="button" style="color:white">UPDATE</a>
      <a href="{% url 'ownership_list'%}" class="btn" style="color:white">CLOSE</a>
    </div>

{% endblock %}
