{% extends 'base.html' %}
{% block content %}

<div class="breadcrumbs">
    <div class="col-sm-12">
        <h3><b>Transfer Of Ownership</b></h3>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <a href="{% url 'ownership_export' %}" style="float: left"><u><b>Export Ownership Data</b></u></a>
                    <a href="{% url 'ownership_new' %}" style="float:right"><u><b>Add Transfer of Ownership</b></u> &nbsp; &nbsp;</a>
                     <a href="{% url 'ownership_history' %}" style="float:right" class="mr-3"><u><b>Transfer of Ownership History</b></a>
                </div>                         
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Activity ID:</th>
                            <th>Vendee Full Name:</th>
                            <th>Requisitioner Full Name:</th>
                            <th>Plate Number:</th>
                            <th>CS Number:</th>
                            <th>SLA Working Days:</th>
                            <th>Date Initiated</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Ownership in object_list %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'ownership_details' Ownership.id %}"><u>{{ Ownership.Activity_id }}</u></a></td>
                            <td>{{ Ownership.v_fname }} {{ Ownership.v_lname }}</td>
                            <td>{{ Ownership.req_Fname }} {{ Ownership.req_Lname }}</td>
                            <td>{{ Ownership.plate_no }}</td>
                            <td>{{ Ownership.cond_sticker }}</td>
                            <td>{{ Ownership.TOO_SLA }}/Days</td>
                            <td>{{ Ownership.date_initiated }}</td>
                            <form action="{% url 'ownership_delete' Ownership.id %}" method="POST">
                                {% csrf_token %}
                                <td><button title= "Delete" class="btn btn-danger btn-sm" type="submit" name="button"><span class="fa fa-trash"></span></button></td>
                            </form> 
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
    <!-- /.row -->
{% endblock %}


