{% extends 'base.html' %}
{% block content %}

<div class="col-md-10" center>
    <div class="card">
    <div class="card-header">
        <h3 class="page-header"><b><u>Update Vehicle Release and OR Date </b></h3>
    </div>

<form method="POST" action="">
{% csrf_token %}
  <div class="col-sm-6">
    <label>Plate Number:</label>{{form.Plate_no}}
  </div>
  <div class="col-sm-6">
    <label>Conduction Sticker Number:</label>{{form.Conduction_Sticker}}
  </div>
  <div class="col-sm-6">
    <label>CR Name:</label>{{form.CR_name}}
  </div>
  <div class="col-sm-6">
    <label >Ending:</label>{{form.Ending}}
  </div>
  <div class="col-sm-6">
    <label>Model:</label>{{form.Model}}
  </div>
  <div class="col-sm-6">
    <label>Brand:</label>{{form.Brand}}
  </div>
  <div class="col-sm-6">
    <label>Vehicle Make</label>{{form.Vehicle_make}}
  </div>
  <div class="col-sm-6">
    <label>Engine_No:</label>{{form.Engine_No}}
  </div>
  <div class="col-sm-6">
    <label>Vehicle Type</label>{{form.vehicle_type}}
  </div>
  <div class="col-sm-6">
    <label>Plate Number Release Date</label>{{form.plateNo_release}}
  </div>
  <div class="col-sm-6">
    <label>Original OR Date</label>{{form.original_OR_date}}
  </div>
</div>
</div>
<div class="col-lg-12">
    <button class="button" type="submit">UPDATE</button><a href="{% url 'vehicle-list' %}" class="button">CLOSE</a>
</div>
</form>
</div>
{% endblock %}