{% extends 'base.html' %}
{% block content %}

<style type="text/css">
  th {
    text-align: middle;
  }
</style>

<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h3>FATA Monitoring Details</h3>&nbsp;
    </div>

<table width="90%" class="table table-bordered table-hover" border="5px">
  <tr>
      <th>Activity ID</th><td>{{ object.Activity_id }}</td>
      <th></td>
  </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th width="25%">FATA Number </th><td width="25%">{{ object.Fata_no }}</td>
      <th width="25%">Date Of Transfer</th><td width="25%">{{ object.Date_transfer }}</td>
    </tr>
    <tr>
      <th>Date Received</th><td>{{ object.Date_received }}</td>
      <th>Plate Number </th> <td>{{ object.Plate_no }}</td>
    </tr>
    <tr>
      <th>Vehicle Make </th> <td>{{ object.Vehicle_make }}</td>
      <th>Vehicle Brand </th> <td>{{ object.Vehicle_brand }}</td>
    </tr>
    <tr>
      <th>Vehicle Model</th> <td>{{ object.Vehicle_model }}</td>
      <th>Certificate Of Registrations Name</th> <td>{{ object.Certificate_of_Reg }}</td>
    </tr>
    <tr>
      <th>Transferor Name </th> <td>{{ object.Transferor_Fname }} {{ object.Transferor_Lname }}</td>
      <th>Recipient Name</th> <td>{{ object.Recipient_Fname }} {{ object.Recipient_Lname}}</td>
    </tr>
    <tr>
      <th>Date Endorsed Globe</th><td>{{ object.Date_endorsed_Globe }}</td>
      <th>Date Endorsed Innove</th><td>{{ object.Date_endorsed_Innove }}</td>
    </tr>
    <tr>
      <th>Clearing Accountability</th><td>{{ object.Clearing_accountability }}</td>
      <th>Globe fixed Asset </th> <td>{{ object.Globe_fixed_asset }}</td>
    </tr>
    <tr>
      <th>Innove fixed Asset</th><td>{{ object.Innove_fixed_asset }}</td>
      <th></th> <td></td>
    </tr>
    

</table>
    <div class="card-footer">
      <a href="{% url 'Monitoring_update' object.id %}" class="button" style="colorwhite">UPDATE</a>
      <a href="{% url 'Monitoring_list' %}" class="btn">CLOSE</a>
    </div>

{% endblock %}
