{% extends 'base.html' %}
{% block content %}
<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h3 class="page-header"><b>Update Vehicle Registrations</b></h3>&nbsp;
    </div>

<form method="POST">
{% csrf_token %}
    <div class="col-sm-4">
        <label><b>Last Registration Date:</b></label>{{ form.Last_Registration_Date}}
        <!-- <input type="Date" name="last_reg" id="last_reg"> -->
    </div>
    <div class="col-sm-4">
        <label><b>Smoke Emission Date:</b></label>{{ form.Smoke_Emission_Date}}
        <!-- <input type="Date" name="smoke_date" id="smoke_date"> -->
    </div>
    <div class="col-sm-4">
        <label><b>COC Date:</b></label>{{ form.COC_Date}}
        <!-- <input type="Date" name="coc_date" id="coc_date"> -->
    </div>
    <div class="col-sm-4">
        <label>Remarks</label>{{ form.Remarks}}
    </div>
</div>
    <div class="card-footer">
        <button type="submit" class="button">PROCEED</a></button><button 
       class="button" type="reset" value="Reset">CLEAR FIELDS</button>
       <a href="{% url 'Monitoring_jan_reg'%}" class="button" style="color:white">CANCEL</a>

    </div>

</form>
{% endblock %}
