{% extends 'base.html' %}
{% block content %}
<!-- Right Panel -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script>
  function dashboard(cityName) {
    var i;
    var x = document.getElementsByClassName("db");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    document.getElementById(cityName).style.display = "block";  
  }
  </script>
<style type="text/css">
    p{
        color: #0A0200;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 align="right"><b>Dashboard</b></h1>&nbsp;
    </div>
</div>
    <div class="w3-bar w3-gray">
        <button class="w3-bar-item w3-button" onclick="dashboard('Payment')">Payment Tab</button>
        <button class="w3-bar-item w3-button" onclick="dashboard('Request')">Request Tab</button>
        <button class="w3-bar-item w3-button" onclick="dashboard('Insurance')">Insurance Tab</button>
        <button class="w3-bar-item w3-button" onclick="dashboard('Monitoring')">Monitoring Tab</button>
        <button class="w3-bar-item w3-button" onclick="dashboard('TOO')">Tranfer of Ownership Tab</button>
        <button class="w3-bar-item w3-button" onclick="dashboard('Masterlist')">Masterlist Tab</button>
    </div>
    <div id="Payment" class="w3-container db">
        <div class="col-lg-4">
            <div class="social-box github">
                <b>New Vehicle Payment Monitoring</b>
                <i class="fa fa-laptop">&nbsp;
                    <p class="count" style="font-size: 80%;">{{ count1 }}</p>
                    <p>Total Records</p>
                    <p>Check Coming Deadline <b><a href="{% url 'Vehicle_deadline' %}">Click Me!</a></b></p>
                </i>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="social-box github">
            <b>Car Rental Payment Monitoring</b>
                <i class="fa fa-laptop">
                    <p class="count" style="font-size: 80%;">{{ count2 }}</p>
                    <p>Total Records</p>
                    <p>Check Coming Deadline <b><a href="{% url 'cardeadline' %}">Click Me!</a></b></p>
                </i>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="social-box github">
            <b>Fuel Supplier Payment Monitoring</b>
                <i class="fa fa-laptop">
                    <p class="count" style="font-size: 80%;">{{ count3 }}</p>
                    <p>Total Records</p>
                    <p>Check Coming Deadline <b><a href="{% url 'fueldeadline' %}">Click Me!</a></b></p>
                </i>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="social-box github">
            <b>Vehicle Repair Payment Monitoring</b>
                <i class="fa fa-laptop">
                    <p class="count" style="font-size: 80%;"> {{ count4 }}</p>
                    <p>Total Records</p>
                </i>
            </div>
        </div>
    </div>
    <div id="Request" class="w3-container db" style="display:none">
        <div class="col-lg-4 ">
            <div class="social-box github">
            <b>Car Rental Request Monitoring</b>
                <i class="fa fa-send-o">
                    <p class="count" style="font-size: 80%;">{{ count5 }}</p>
                    <p>Total Records</p>
                    <p>Check Coming Deadline <b><a href="{% url 'crrdeadline' %}">Click Me!</a></b></p>
                </i>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="social-box github">
            <b>Gas Card Request Monitoring</b>
                <i class="fa fa-send-o">
                    <p class="count" style="font-size: 80%;">{{ count6 }}</p>
                    <p>Total Records</p>
                    <p>Check Coming Deadline <b><a href="{% url 'gccdeadline' %}">Click Me!</a></b></p>
                </i>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="social-box github">
            <b>Service Vehicle Request Monitoring</b>
                <i class="fa fa-send-o">
                    <p class="count" style="font-size: 80%;"> {{ count7 }}</p>
                    <p>Total Records</p>
                    <p>Check Coming Deadline <b><a href="{% url 'svrdeadline' %}">Click Me!</a></b></p>
                </i>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="social-box github">
            <b>Vehicle Repair Request Monitoring</b>
                <i class="fa fa-send-o">
                    <p class="count" style="font-size: 80%;"> {{ count8 }}</p>
                    <p>Total Records</p>
                    <p>Check Coming Deadline <b><a href="{% url 'vrpdeadline' %}">Click Me!</a></b></p>
                </i>
            </div>
        </div>
    </div>
    <div id="Insurance" class="w3-container db" style="display:none">
        <div class="col-lg-4 ">
            <div class="social-box github">
            <b>Motor Vehicle Accendent Report</b>
                <i class="fa fa-file">
                    <p class="count" style="font-size: 80%;"> {{ count9 }}</p>
                    <p>Total Records</p>
                    <p>Check Coming Deadline <b><a href="{% url 'reportdeadline' %}">Click Me!</a></b></p>
                </i>
            </div>
        </div>
    </div>
    <div id="Monitoring" class="w3-container db" style="display:none">
        <div class="col-lg-4 ">
            <div class="social-box github">
            <b>FATA Monitoring</b>
                <i class="fa fa-folder-o">
                    <p class="count" style="font-size: 80%;">{{ count10 }}</p>
                    <p>Total Records</p>
                </i>
            </div>
        </div>
    </div>
    <div id="TOO" class="w3-container db" style="display:none">
        <div class="col-lg-4" align="center">
            <div class="social-box github" align="center">
            <b>Transfer of Ownership</b>
                <i class="fa fa-user">
                    <p class="count" style="font-size: 80%;">{{ count11 }}</p>
                    <p>Total Records</p>
                    <p>Check Coming Deadline <b><a href="{% url 'toodeadline' %}">Click Me!</a></b></p>
                </i>
            </div>
        </div>
    </div>
    <div id="Masterlist" class="w3-container db" style="display:none">
        <div class="col-lg-4 " align="center">
            <div class="social-box github">
            <b>Vehicle Masterlist</b>
                <i class="fa fa-folder-open-o">
                    <p class="count" style="font-size: 80%;">{{ count12 }}</p>
                    <p>Total Records</p>
                </i>
            </div>
        </div>
        <div class="col-lg-4 " align="center">
            <div class="social-box github">
            <b>Employee Masterlist</b>
                <i class="fa fa-folder-open-o">
                    <p class="count" style="font-size: 80%;">{{ count13 }}</p>
                    <p>Total Records</p>
                </i>
            </div>
        </div>
    </div>
{% endblock %}

