{% extends 'base.html' %}
{% block content %}

<div class="breadcrumbs">
    <div class="col-sm-12">
        <h1 class="page-header">Employee MasterList</h1>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <a href="{% url 'employeeMasterlist-new' %}" style="color:black"><u>Add New Employee</u></a>
                </div>                         
                <table id="bootstrap-data-table-export"a class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Employee ID:</th>
                            <th>Company:</th>
                            <th>Employee Full Name:</th>
                            <th>Job Category:</th>
                            <th>Hiring Date:</th>
                            <th>Group</th>
                            <th>Department</th>
                            <th>Location</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emp in object_list %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'employee-details' emp.id %}"><u>{{ emp.Employee_Id }}</u></a></td>
                            <td>{{ emp.Company }}</td>
                            <td>{{ emp.First_name }} {{ emp.Last_name }}</td>
                            <td>{{ emp.Job_category }}</td>
                            <td>{{ emp.Hiring_date }}</td>
                            <td>{{ emp.Group }}</td>
                            <td>{{ emp.Department }}</td>
                            <td>{{ emp.Location }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
    <!-- /.row -->
{% endblock %}


