{% extends 'base.html' %}
{% block content %}


<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h3>Employee MasterList</h3>&nbsp;
    </div>

<table width="90%" class="table table-bordered table-hover" border="5px">
  <tr>
      <th></th><td></td>
      <th>Employee ID:</th><td>{{ object.Employee_Id }}</td>
  </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
      <th width="25%">Company: </th><td width="25%">{{ object.Company }}</td>
      <th width="25%">Full Name:</th><td width="25%">{{ object.First_name }} {{ object.Middle_name }} {{ object.Last_name }} </td>
    </tr>
    <tr>
      <th>Name Suffix:</th><td>{{ object.Suffix }}</td>
      <th>External Role Title: </th> <td>{{ object.External_role }}</td>
    </tr>
    <tr>
      <th>Job Category: </th> <td>{{ object.Job_category }}</td>
      <th>Hiring Date: </th> <td>{{ object.Hiring_date }}</td>
    </tr>
    <tr>
      <th>Vehicle Model Year:</th> <td>{{ object.V_model }}</td>
      <th>Vehicle Brand</th> <td>{{ object.V_brand }}</td>
    </tr>
    <tr>
      <th>Tenure: </th> <td>{{ object.Tenure }}</td>
      <th>Band</th> <td>{{ object.Band }}</td>
    </tr>
    <tr>
      <th>Cost Center:</th><td>{{ object.Cost_center }}</td>
      <th>DIV_code:</th><td>{{ object.DIV_code }}</td>
    </tr>
    <tr>
      <th>Group:</th><td>{{ object.Group }}</td>
      <th>Division: </th> <td>{{ object.Division }}</td>
    </tr>
    <tr>
      <th>Department:</th><td>{{ object.Department }}</td>
      <th>Section:</th> <td>{{ object.Section }}</td>
    </tr>
    <tr>
      <th>Unit:</th> <td>{{ object.Unit }}</td>
      <th>Sub Init:</th> <td>{{ object.Sub_unit }}</td>
    </tr>
    <tr>
      <th>IS ID: </th> <td>{{ object.IS_ID }}</td>
      <th>IS Last Name:</th> <td>{{ object.IS_lastname }}</td>
    </tr>  
    <tr>
      <th>IS First Name: </th> <td>{{ object.IS_firstname }}</td>
      <th>Band</th> <td>{{ object.Band }}</td>
    </tr>
    <tr>
      <th>Location:</th><td>{{ object.Location }}</td>
      <th>Area:</th><td>{{ object.Area }}</td>
    </tr>
    <tr>
      <th>Area2:</th><td>{{ object.Area2 }}</td>
      <th>Benefit: </th> <td>{{ object.Benefit }}</td>
    </tr>

</table>
    <div class="card-footer">
      <a href="{% url 'employeeMasterlist-update' object.id %}" class="button" style="color:white">UPDATE</a>
    </div>

{% endblock %}
