{% load static %}

<aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <i class="menu-icon fa fa-dashboard"><h4>FLEET Management System</h4></i>
                    </li>
                    <h3 class="menu-title"></h3><br><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Payment's</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="{% url 'Vehicle_list' %}">New Vehicle Payment's</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="{% url 'carrental_list'%}">Car Rental Payment's</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="#">Fuel Supplier Payment's</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Request</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-dashboard"></i><a href="{% url 'Repair_list'}">Repair</a></li>
                            <li><i class="fa fa-dashboard"></i><a href="#">Fuel And Emissions</a></li>
                            <li><i class="fa fa-laptop"></i><a href="#">Bidding</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Report</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="#">Shuttle</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="#">Service</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Monitoring</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="#">Shuttle</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="#">Service</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Voucher</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="#">Shuttle</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="#">Service</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>OwnerShip</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="#">Shuttle</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="#">Service</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>