{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Car Rentail Payment Summary</h1>
    </div>
</div>

<br>
<div class="row">

<table width="100%" class="table table-bordered table-hover">
    <tr>
      <th width="15%">Activity ID: </th><td width="35%">{{}}</td>
      <th width="15%">Billing Date:</th><td width="35%">{{}}</td>
    </tr>
    <tr>
      <th>Assignee Employee ID: </th> <td>{{}}</td>
      <th>Employee First Name: </th> <td>{{}}</td>
    </tr>
    <tr>
      <th>Employee Last Name: </th> <td>{{}}</td>
      <th>Assignee Company:</th> <td>{{}}</td>
    </tr>
    <tr>
      <th>Assignee Cost Center:</th> <td>{{}}</td>
      <th>Other Assignee First Name: </th> <td>{{}}</td>
    </tr>
    <tr>
      <th>Other Assignee Last Name:</th> <td>{{}}</td>
      <th>Other Assignee Cost Center: </th> <td>{{}}</td>
    </tr>
    <tr>
      <th>Plate Number: </th> <td>{{ }}</td>
      <th>Vehicle Provider:</th> <td>{{ }}</td>
    </tr>
    <tr>
      <th>Vehicle Brand: </th> <td>{{ }}</td>
      <th>Vehicle Make: </th> <td>{{ }}</td>
    </tr>
    <tr>
      <th>Date Delivered Vehicle:: </th> <td>{{ }}</td>
      <th>Start of Rental:</th> <td>{{ }}</td>
    </tr>
    <tr>
      <th>End of Rental: </th> <td>{{ }}</td>
      <th>Rental Duration:</th> <td>{{ }}</td>
    </tr>
    <tr>
      <th>Rental Cost:</th> <td>{{ }}</td>
      <th>Gasoline Cost:</th> <td>{{}}</td>
    </tr>
    <tr>
      <th>Toll Fee:</th> <td>{{ }}</td>
      <th>Parking Fee: </th> <td>{{ }}</td>
    </tr>
    <tr>
      <th>Delivery Fee:</th> <td>{{ }}</td>
      <th>Driver Fee:</th> <td>{{ }}</td>
    </tr>
    <tr>
      <th>Meal Cost: </th> <td>{{ }}</td>
      <th>Other Expenses:</th> <td>{{}}</td>
    </tr>
    <tr>
        <th></th><td></td>
        <th></th><td></td>
    </tr>
    <tr>
        <th></th><td></td>
        <th>Total Expenses</th><td>{{}}</td>
    </tr>    
</table>

    <div class="col-lg-12">
      <a data-toggle="modal" data-target="#"  class="btn btn-primary" style="width:100px;">PRINT</a>&nbsp;
      <a data-toggle="modal" data-target="#" class="btn btn-primary" style="width:100px;">UPDATE</a>
    </div>