{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<style type="text/css">
    th{
        text-align: center;
    }
</style>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="breadcrumbs">
    <div class="col-sm-14">
        <h3><b>New Vehicle Payment History</b></h3>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <a href="{% url 'Vehicle_list' %}" style="float:left "><u><b>Back to NVP Data</b></u></a>
                </div>                         
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Activity ID</th>
                            <th>Assignee Full Name</th>
                            <th>Plate Number</th>
                            <th>PO Number</th>
                            <th>SLA</th>
                            <th>Date Initiated</th>
                            <th>Date Lapsed</th>
                            <th>Deadline</th>
                            <th>History Date</th>
                            <th>History Type</th>
                            <th>History User</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for h in object %}
                        <tr class="odd gradeX">
                            <td>{{ h.Activity_id }}</td>
                            <td>{{ h.E_First_name }} {{ h.E_Last_name }}</td>
                            <td>{{ h.Plate_no }}</td>
                            <td>{{ h.PO_no }}</td>
                            <td>{{ h.V_SLA }}/Days</td>
                            <td>{{ h.Date_initiated}}</td>
                            <td></td>
                            <td></td>
                            <td>{{h.history_date}}</td>
                  
                            {% if h.history_type == '+' %}
                                <td style="color: green;">Created</td>
                            {% elif h.history_type == '-' %}
                                <td style="color: red;">Deleted</td>
                            {% else %}
                                <td style="color: blue;">Edited</td>
                            {% endif %}
                            <td>{{h.history_user}}</td>
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
    <!-- /.row -->
{% endblock %}


