{% extends 'base.html' %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script>
  function vehiclePayment(cityName) {
    var i;
    var x = document.getElementsByClassName("vehicle");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    document.getElementById(cityName).style.display = "block";  
  }
  </script>
<!-- <script>
    function getDate() {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth()+1; //January is 0!
      var yyyy = today.getFullYear();

      if(dd<10) {
          dd = '0'+dd
      } 

      if(mm<10) {
          mm = '0'+mm
      } 

      today = yyyy + '-' + mm + '-' + dd;
      console.log(today);
      document.getElementById("Date").value = today;
    }


    window.onload = function() {
      getDate();
    };

</script> -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">New Vehicle Payments</h3>&nbsp;
    </div>
</div>
<div class="w3-bar w3-gray">
  <button class="w3-bar-item w3-button" onclick="vehiclePayment('New vehicle Payment')">New vehicle Payment</button>
  <button class="w3-bar-item w3-button" onclick="vehiclePayment('OutBound Process')">OutBound Process</button>
  <button class="w3-bar-item w3-button" onclick="vehiclePayment('Inbound Process')">Inbound Process</button>
</div>
<form method="POST">
{% csrf_token %}
  <div id="New vehicle Payment" class="w3-container vehicle">
    <fieldset>
    <legend align="left">Purchase Order Details</legend><br>
    <div class="col-sm-4">
        <label>Assignee Employee ID</label>
      {{ form.A_employee_ID }}
    </div>

    <div class="col-sm-4">
        <label>Employee First Name:</label>
        {{ form.E_First_name }}
    </div>
    <div class="col-sm-4">
        <label>Employee Last Name:</label>
        {{ form.E_Last_name }}
    </div>
    <br><br>
    </fieldset>
    <hr>
    <fieldset>
    <legend align="left">Vehicle Details</legend><br>
    <div class="col-sm-4">
        <label>Vehicle Delivery Date:</label>
        {{ form.V_deliverDate }}
    </div>

    <div class="col-sm-4">
        <label>Vehicle Plate Number:</label>
        {{ form.V_plateNo }}
    </div>

    <div class="col-sm-4">
        <label>Vehicle Model Year:</label>
        {{ form.V_model }}
    </div>
    <div class="col-sm-4">
        <label>Vehicle Brand:</label>
        {{ form.V_brand }}
    </div>
    <div class="col-sm-4">
        <label>Vehicle Make:</label>
        {{ form.V_make }}
    </div>
    <div class="col-sm-4">
        <label>Vehicle Dealer:</label>
        {{ form.V_dealer }}
    </div>
    </fieldset>
    <br><br><br>
  </div>

  <div id="OutBound Process" class="w3-container vehicle" style="display:none">
    <fieldset>
      <legend align="left">Document Routing 1</legend>
    <div class="col-sm-6">
        <label>Date Received LTO Documents:</label>
        {{ form.LTO_documents }}
    </div>

    <div class="col-sm-6">
        <label>Plate Number:</label>
        {{ form.Docs_plate_no }}
        </div>
    <div class="col-sm-6">
        <label>LTO PrintOut Sticker Fields:</label>
        {{ form.LTO_stickers }}
    </div>
    <div class="col-sm-6">
        <label>Sticker Fields:</label>
        {{ form.Sticker_fields }}
        <br>
    </div>
  </fieldset>
  <fieldset>
    <legend align="left">Payment Details</legend>
    <div class="col-sm-6">
        <label>Date Transmitted Initial SOA to Accounting:</label>
        {{ form.Date_initial }}
    </div>
    <div class="col-sm-6">
        <label>Precent of first Payments:</label>
        {{ form.First_payment }}
    </div>
    <div class="col-sm-6">
        <label>LTO Charges:</label>
        {{ form.LTO_charges }}
    </div>
    <div class="col-sm-6">
        <label>Outstanding Balance:</label>
        {{ form.Outstanding_balance }}
        <br>
    </div>
    </fieldset>
  </div>

<div id="Inbound Process" class="w3-container vehicle" style="display:none">
  <fieldset>
  <legend align="left">Document Routing 2</legend>
  <div class="col-sm-6">
      <label>Date Transmitted Final SOA:</label>
      {{ form.Date_final }}
  </div>
  <div class="col-sm-6">
      <label>Routing Remarks:</label>
      {{ form.Routing_remarks }}
  </div>
  <div class="col-sm-6">
    <label>Service Lavel Agreement(SLA)</label>
    {{ form.V_SLA }}
  </div>
  </fieldset>
      <div class="card-footer">
      <button type="submit" class="button">SUBMIT</butoon><button class="button" type="reset" value="Reset">CLEAR ALL FIELDS</button>
    </div>
</div>
</form>
{% endblock %}
