{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

{% comment %} <script type="text/javascript">
  $(function () {
    // Delete book buttons
    $(".delete-carrequest").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

  });
</script> {% endcomment %}


<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="breadcrumbs">
    <div class="col-sm-14">
        <h3><b>New Vehicle Payment</b></h3>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <a href="{% url 'vehicle_export' %}" style="float:left "><u><b>Export Vehicle Data</b></u></a>
                    <a href="{% url 'Vehicle-new' %}" style="float:right "><u><b>Add New Vehicle Payment</b></u>&nbsp; &nbsp;</a>
                    <a href="{% url 'Vehicle_history' %}" style="float:right" class="mr-3"><u><b>Vehicle Payment History</b></u></a>
                </div>                         
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Activity ID</th>
                            <th>Assignee Full Name</th>
                            <th>Plate Number</th>
                            <th>PO Number</th>
                            <th>SLA</th>
                            <th>Date Initiated</th>
                            
                            <th>Equipment No</th>
                            <th>Asset No</th>
                            <th>Sap PR No</th>
                            <th>Mat Doc No</th>
                            <th>Dealer Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for VehiclePayment in object_list %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'Vehicle-summary' VehiclePayment.id %}">{{ VehiclePayment.Activity_id }}</a></td>
                            <td>{{ VehiclePayment.E_First_name }} {{ VehiclePayment.E_Last_name }}</td>
                            <td>{{ VehiclePayment.Plate_no }}</td>
                            <td>{{ VehiclePayment.PO_no }}</td>
                            <td>{{ VehiclePayment.V_SLA }}/Days</td>
                            <td>{{ VehiclePayment.Date_initiated}}</td>
                            
                            <td>{{ VehiclePayment.equip_no }}</td>
                            <td>{{ VehiclePayment.asset_no }}</td>
                            <td>{{ VehiclePayment.sap_no }}</td>
                            <td>{{ VehiclePayment.mat_no }}</td>
                            <td>{{ VehiclePayment.Dealer_name}}</td>
                            
                            <form action="{% url 'Vehicle_delete' VehiclePayment.id %}" method="POST">
                                {% csrf_token %}
                                <td><button title= "Delete" class="btn btn-danger btn-sm" type="submit" name="button"><span class="fa fa-trash"></span></button></td>
                            </form>
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
    <!-- /.row -->
{% endblock %}


